{
  "extends": [
    "airbnb/base",
    "plugin:mocha/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "plugins": [
    "@typescript-eslint",
    "chai-friendly"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {},
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "rules": {
    "max-len": [
      "error",
      {
        "code": 150
      }
    ],
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "mocha/no-mocha-arrows": "off",
    "chai-friendly/no-unused-expressions": "error",
    "lines-between-class-members": "off",
    "object-curly-newline": "off",
    "max-classes-per-file": "off",
    "no-useless-constructor": "off",
    "no-undef": "off",
    "no-empty-function": [
      "error",
      {
        "allow": [
          "constructors"
        ]
      }
    ],
    "no-unused-expressions": "off",
    "no-plusplus": "off"
  },
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.tsx"
      ],
      "rules": {
        "@typescript-eslint/no-unused-vars": [
          "error",
          {
            "args": "none"
          }
        ]
      }
    }
  ]
}
