{
  "extends": "@istanbuljs/nyc-config-typescript",
  "reporter": ["html", "text"],
  "all": true,
  "check-coverage": true,
  "exclude": [
    "test/",
    "coverage/",
    "src/common/marked/MarkedContentRenderingUtil.ts"
  ]
}
